In [1]:
import pandas as pd
import requests

In [2]:
# Query url for station info of City Bike
url = "https://gbfs.citibikenyc.com/gbfs/en/station_information.json"

# Get data of City Bike station info and save as "sta_info"
sta_info_url = requests.get(url).json()["data"]["stations"]

# View "sta_info"
sta_info_url[0]

{'station_id': '168',
 'external_id': '66db33fc-0aca-11e7-82f6-3863bb44ef7c',
 'name': 'W 18 St & 6 Ave',
 'short_name': '6064.08',
 'lat': 40.73971301,
 'lon': -73.99456405,
 'region_id': 71,
 'rental_methods': ['CREDITCARD', 'KEY'],
 'capacity': 47,
 'rental_url': 'http://app.citibikenyc.com/S6Lr/IBV092JufD?station_id=168',
 'electric_bike_surcharge_waiver': False,
 'eightd_has_key_dispenser': False,
 'eightd_station_services': [{'id': 'bedaaf2b-8664-469e-8681-26ff8059765b',
   'service_type': 'ATTENDED_SERVICE',
   'bikes_availability': 'UNLIMITED',
   'docks_availability': 'NONE',
   'name': 'Valet Service',
   'description': 'CitiBike Station Valet attendant service available.',
   'schedule_description': '',
   'link_for_more_info': 'https://www.citibikenyc.com/valet'}],
 'has_kiosk': True}

In [3]:
# Simplify station info to be saved as Pandas dataframe
# Note that "-" is used for conjunction as Tableau recognize "_" as space " "
sta_info_df = pd.DataFrame(columns = ["sta-id", "name", "lat", "lng", "region-id"])

# Loop through "sta_info_url"
for sta in sta_info_url:

    # Note that the length of "sta_info_df" MIGHT be altered even during the same iteration
    # Use "im" (intermediate) to store the length of "sta_info_df" before each iteration
    im = len(sta_info_df.index)
    
    # Append value from "sta_info_url" to its designated column in "sta_info_df"
    sta_info_df.loc[im, "sta-id"] = sta["station_id"]
    sta_info_df.loc[im, "name"] = sta["name"]
    sta_info_df.loc[im, "lat"] = sta["lat"]
    sta_info_df.loc[im, "lng"] = sta["lon"]
    sta_info_df.loc[im, "region-id"] = sta["region_id"]

# Preview "sta_info_pd"    
sta_info_df.head()

  sta-id                               name      lat      lng region-id
0    168                    W 18 St & 6 Ave  40.7397 -73.9946        71
1    281  Grand Army Plaza & Central Park S  40.7644 -73.9737        71
2    304              Broadway & Battery Pl  40.7046 -74.0136        71
3    337                Old Slip & Front St  40.7038 -74.0084        71
4    347        Greenwich St & W Houston St  40.7288 -74.0086        71

In [4]:
# Reorganize the columns of "sta_info_df"
sta_info_df = sta_info_df[["sta-id", "name", "lat", "lng", "region-id"]]

# Preview "sta_info_df"
sta_info_df.head()

  sta-id                               name      lat      lng region-id
0    168                    W 18 St & 6 Ave  40.7397 -73.9946        71
1    281  Grand Army Plaza & Central Park S  40.7644 -73.9737        71
2    304              Broadway & Battery Pl  40.7046 -74.0136        71
3    337                Old Slip & Front St  40.7038 -74.0084        71
4    347        Greenwich St & W Houston St  40.7288 -74.0086        71

In [5]:
# Create copy of "sta_info_df" for joining of start station info in Tableau
s_sta_info_df = sta_info_df.copy()

# Rename column names
s_sta_info_df = s_sta_info_df.rename(columns = {
    "sta-id": "s-sta-id",
    "name": "s-name",
    "lat": "s-lat",
    "lng": "s-lng",
    "region-id": "s-id"
})

# Save start station info as csv file
s_sta_info_df.to_csv("../data/cleaned_data/s_sta_info.csv", index=False, header=True)

In [6]:
# Create copy of "sta_info_df" for joining of end station info in Tableau
e_sta_info_df = sta_info_df.copy()

# Rename column names
e_sta_info_df = e_sta_info_df.rename(columns = {
    "sta-id": "e-sta-id",
    "name": "e-name",
    "lat": "e-lat",
    "lng": "e-lng",
    "region-id": "e-id"
})

# Save end station info as csv file
e_sta_info_df.to_csv("../data/cleaned_data/e_sta_info.csv", index=False, header=True)